<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.dao.GoodsAuthorityMapper">

  <sql id="GoodsAuthority_Column_List">
    id,audit_status,organization,goods_id
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="com.zeus.entity.GoodsAuthority">
    select
    <include refid="GoodsAuthority_Column_List" />
    from goods_authority
    where goods_id = #{goods_id,jdbcType=INTEGER}
  </select>

  <select id="fandAllId" parameterType="java.lang.Long" resultType="com.zeus.entity.GoodsAuthority">
    select
    <include refid="GoodsAuthority_Column_List" />
    from goods_authority
    where goods_id = #{goods_id,jdbcType=INTEGER}
  </select>
</mapper>